<div class="container" style="z-index: -1;">
    <div class="row">
        <div class="col-2"></div>

        <div class="col-8" style="margin-top: 50px;">
            <h3 style="text-align: center;font-style: italic;">Branch List</h3>
            <table class="table" style="text-align: center;">
                <thead class="color" style="position: sticky;top:55px;border-radius: 20px;">
                    <tr>
                        <th>Branch Id</th>
                        <th>Branch Name</th>
                        <th>Branch City</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let branch of branches | async">
                        <td>{{branch.branchId}}</td>
                        <td>{{branch.branchName}}</td>
                        <td>{{branch.branchCity}}</td>
                        
                        <td><button (click)="deleteBranch(branch.branchId)" class="btn btn-color">Delete</button>
                            <!-- <button (click)="branchDetails(branch.branchId)" class="btn btn-info"
                                style="margin-left: 10px">Details</button> -->
    
                                <button (click)="createAccount(branch.branchId)" class="btn btn-color" style="margin-left: 10px">Create Account</button>
                        
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="col-2"></div>
    </div>
</div>

