input,select, textarea {
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400;
}

input:focus,select:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #D500F9 !important;
    outline-width: 0;
    font-weight: 400;
}
.form-control-label {
    font-size: 12px;
    margin-left: 15px;
}
.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #FFD54F, #D500F9);
    padding: 15px 150px;
    margin-left: 30px;
    cursor: pointer;
    border: none !important;
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #D500F9, #FFD54F);
}
.cusborder{
    background: linear-gradient(to right, #D500F9, #FFD54F);
    border-radius: 10px;
    margin-top: 50px;
}
.hel{
    background: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 2px solid white;
    outline: 10px solid white;
}