
<div [hidden]="">
    <form  style="border: none;" (ngSubmit)="onUpdate()">
        <div class="container">
            <div class="row">
                <div class="col"></div>

                <div class="col cusborder">
                    <div class="hel">
                    <h3 style="text-align: center;font-style: italic;">Update Account</h3>

                    <div class="form-group">
                        <label class="form-control-label text-muted" for="mobileno">Account Number</label>
                        <input type="text" class="form-control" id="accNo" [(ngModel)]="account.accNo"
                            name="accNo" disabled>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label text-muted" for="mobileno">Mobile Number</label>
                        <input type="text" class="form-control" id="mobileno" minlength="10" maxlength="10" [(ngModel)]="account.mobileNo"
                           placeholder="Mobile Number" name="mobileno">
                    </div>
                    <div [hidden]="!checkAccNo">
                        <label class="form-control-label text-muted"><span style="color: red;">Enter 10 digit Valid Mobile Number</span></label>
                    </div><br>

                    <!-- <div class="form-group">
                        <label class="form-control-label text-muted" for="accStatus">Account Status</label>&nbsp;
                        <select name="accStatus" id="accStatus"  class="form-control">
                            <option value="true">Active</option>
                            <option value="false">InActive</option>
                        </select>
                    </div><br> -->

                    <button type="submit" class="btn btn-color">Submit</button><br><br>
                </div>
            </div>

                <div class="col"></div>

            </div>
        </div>
    </form>
</div>

