<div class="container" style="z-index: -1;">
    <div class="row">
        <div class="col"></div>

        <div class="col-12" style="margin-top: 50px;">
            <h3 style="text-align: center;font-style: italic;">Transaction List</h3>
            <table class="table">
                <thead class="color" style="position: sticky;top:0px;text-align: center;">
                    <tr>
                        <th>Transaction Id</th>
                        <th>Acc No</th>
                        <th>Transaction Amount</th>
                        <th>Type Of Transaction</th>
                        <th>Date</th>
                        <th>Time</th>
                     <!-- <th style="text-align: center;">Actions</th> -->
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                    <tr *ngFor="let transaction of transactions | async">
                        <td>{{transaction.transId}}</td>
                        <td>{{transaction.accNo}}</td>
                        <td>Rs.{{transaction.transAmount}}</td>
                        <td>{{transaction.transType==true?'Credited':'Debited'}}</td>
                        <td>{{transaction.localDateTime | date:"dd/MM/yyyy"}}</td>
                        <td>{{transaction.localDateTime | date:"h:mm a"}}</td>
                        <!-- <td>
                            <button class="btn btn-color">View</button>&nbsp;
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col"></div>
    </div>
</div>