<div class="container-fluid" style="background-color: #323641;height: 100%;">
    <div class="d-flex justify-content-evenly" style="padding-top: 50px;">

        <div class="p-2 custom">
            <h2 style="margin-top: 40px;"><i>Branches</i></h2><br> 
            <div class="letter-image" style="margin-top: 50px;margin-left: -420px;">
                <div class="animated-mail">
                    <div class="back-fold"></div>
                    <div class="letter">
                        <div class="letter-border"></div>
                        <div class="letter-title"></div>
                        <div class="letter-context"></div>
                        <div class="letter-stamp">
                            <div class="letter-stamp-inner" style="font-size: 40px;"><i>{{branchCount}}</i></div>
                        </div>
                    </div>
                    <div class="top-fold"></div>
                    <div class="right"></div>
                    <div class="left-fold"></div>
                </div>
                <div class="shadow"></div>
            </div>           
        </div>

        <div class="p-2 custom">
            <h2 style="margin-top: 40px;"><i>Accounts</i></h2>
            <div class="letter-image" style="margin-top: 50px;">
                <div class="animated-mail">
                    <div class="back-fold"></div>
                    <div class="letter">
                        <div class="letter-border"></div>
                        <div class="letter-title"></div>
                        <div class="letter-context"></div>
                        <div class="letter-stamp">
                            <div class="letter-stamp-inner" style="font-size: 40px;"><i>{{accountCount}}</i></div>
                        </div>
                    </div>
                    <div class="top-fold"></div>
                    <div class="right"></div>
                    <div class="left-fold"></div>
                </div>
                <div class="shadow"></div>
            </div>         
        </div>

        <div class="p-2 custom">
            <h2 style="margin-top: 40px;"><i>Transaction</i></h2>
            <div class="letter-image" style="margin-top: 50px;margin-left: 420px;">
                <div class="animated-mail">
                    <div class="back-fold"></div>
                    <div class="letter">
                        <div class="letter-border"></div>
                        <div class="letter-title"></div>
                        <div class="letter-context"></div>
                        <div class="letter-stamp">
                            <div class="letter-stamp-inner" style="font-size: 40px;"><i>{{transactionCount}}</i></div>
                        </div>
                    </div>
                    <div class="top-fold"></div>
                    <div class="right"></div>
                    <div class="left-fold"></div>
                </div>
                <div class="shadow"></div>
            </div>
        </div>
        
    </div>
    
</div>