<div class="container" style="z-index: -1;">
    <div class="row">
        <div class="col"></div>

        <div class="col-12" style="margin-top: 50px;">
            <h3 style="text-align: center;font-style: italic;">Account List</h3>
            <table class="table">
                <thead class="color" style="position: sticky;top:55px;text-align: center;">
                    <tr>
                        <th>Acc No</th>
                        <th>AccHolder Name</th>
                        <th>Date</th>
                        <th>Balance</th>
                        <th>Mobile No</th>
                        <th>Pan No</th>
                        <th>AccType</th>
                        <th>AccStatus</th>
                        <th style="text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                    <tr *ngFor="let account of accounts | async">
                        <td>{{account.accNo}}</td>
                        <td>{{account.accHolderName}}</td>
                        <td>{{account.accOpenDate}}</td>
                        <td>{{account.balance}}</td>
                        <td>{{account.mobileNo}}</td>
                        <td>{{account.panNo}}</td>
                        <td>{{account.accType}}</td>                       
                        <td>{{account.accStatus==true?'Active':'Inactive'}}</td>                                       
                        <td>
                            <button (click)="onView(this.account.accNo)" class="btn btn-color">View</button>&nbsp;
                            <button (click)="onUpdate(this.account.accNo,this.account.mobileNo)" class="btn btn-color">Update Mobile</button>&nbsp;
                            <button (click)="onDelete(this.account.accNo)" class="btn btn-color">Delete</button>&nbsp;
                            <button *ngIf="account.accStatus==false" (click)="onUpdateStatus(this.account.accNo,this.account.accStatus)" class="btn btn-color">Activate</button>
                        </td>
        
                        
                        
                            <!--<td> <button (click)="deleteBranch(branch.branchId)" class="btn btn-danger">Delete</button>
                            <button (click)="branchDetails(branch.branchId)" class="btn btn-info"
                                style="margin-left: 10px">Details</button>
    
                            <button (click)="createAccount(branch.branchId)" class="btn btn-primary" style="margin-left: 10px">Create Account</button> </td>-->
                        
                        
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="col"></div>
    </div>
</div>
